*.iml
.idea/
*.pdf
*.lnk
*.jar
*.zip
.git/
.gradle/
.settings/
user/
bin/
build/
*.exe
.class
*.bin
*.log
setting.properties
jcef-bundle/
logs/

!gradle/wrapper/gradle-wrapper.properties
main/
cache/
