*.iml
.idea/*
!.idea/icon.png
*.pdf
*.lnk
*.jar
!gradle-wrapper.jar
*.zip
.git/
.gradle/
.settings/
user/
bin/
build/
*.exe
.class
*.bin
*.log
jcef-bundle/
logs/
.kotlin
.run*/

!gradle/wrapper/gradle-wrapper.properties
cache/
Web Data*
temporary/
DawnCache/
GPUCache/
MediaDeviceSalts*
